@using MudBlazor
@using System.ComponentModel.DataAnnotations
@using QP.BlazorWebApp.Application.Features.Products.Model
@using Fluxor.Blazor.Web.Components;

@inherits FluxorComponent

<MudDialog>
    <DialogContent>
        <MudForm @ref="_form" Model="_model" ValidityChanged="v => _valid = v">
            <MudTextField @bind-Value="_model.Name"
                          Label="Nombre"
                          For="@(() => _model.Name)"
                          Class="mb-3"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense" />

            <MudTextField @bind-Value="_model.Description"
                          Label="Descripción"
                          For="@(() => _model.Description)"
                          Lines="5"
                          TextArea="true"
                          FullWidth="true"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense" />

            <MudGrid>
                <MudItem xs="4">
                    <MudNumericField T="double?" @bind-Value="_model.Price"
                                     Label="Precio (€)"
                                     For="@(() => _model.Price)"
                                     Min="@(0)"
                                     Class="mb-3"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="4">
                    <MudAutocomplete @bind-Value="_model.Currency"
                                     SearchFunc="Search"
                                     For="@(() => _model.Currency)"
                                     Label="Divisa"
                                     Clearable="true"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense" />
                </MudItem>

                <MudItem xs="4">
                    <MudNumericField T="double?" @bind-Value="_model.TaxRate"
                                     Label="Taxrate"
                                     For="@(() => _model.TaxRate)"
                                     Min="@(0)"
                                     Immediate="true"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense"/>
                </MudItem>

            </MudGrid>

            <MudGrid>

                <MudItem xs="6">
                    <MudTextField @bind-Value="_model.Code"
                                  Label="Código de producto"
                                  For="@(() => _model.Code)"
                                  Class="mb-3"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense" />
                </MudItem>

                <MudItem xs="6">
                    <MudNumericField T="int?" @bind-Value="_model.Stock"
                                     Label="Stock"
                                     For="@(() => _model.Stock)"
                                     Min="@(0)"
                                     Immediate="true"
                                     Variant="Variant.Outlined"
                                     Margin="Margin.Dense" />
                </MudItem>

            </MudGrid>

        </MudForm>
    </DialogContent>

    <DialogActions>
        <div class="d-flex justify-content-between w-100">
            <MudButton OnClick="Cancel" Variant="Variant.Text" Color="Color.Secondary">
                Cancelar
            </MudButton>
            <MudButton OnClick="Save" Color="Color.Primary" Variant="Variant.Filled">
                @(IsEdit ? "Guardar cambios" : "Crear")
            </MudButton>
        </div>
    </DialogActions>


</MudDialog>
